*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 40rem;
  background-color: #000;
}

.form__h2{
  color: white;
}

.form__input{
  width: 70%;
  margin: 1rem;
  padding: .4rem;
  background-color: #000;
  border: unset;
  border-bottom: .2rem orange solid;
  color: white;
}

.form__input--button{
  background-color: orange;
  padding: .6rem;
  border: unset;
  cursor: pointer;
}

.form__input:focus{
  outline: none;
  background-color:#222111;
}